body {
  background-color: #e6f4ff;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #bae0ff;
  border-radius: 15px;
}

.task span {
  font-size: 20px;
}

.delete-icon:hover {
  cursor: pointer;
  color: #ff4d4f;
  transition: 0.3s;
}

.message {
  margin: 10px 0px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 15px;
  list-style: none;
}